services:
  app-dev:
    build:
      context: ./backend
      target: dev
    user: "${UID}:${GID}"
    ports:
      - "8000:8000"
    environment:
      DB_URL: "postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable"
      GOCACHE: /tmp/.cache
    volumes:
      - ./backend/:/app
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      target: dev
    user: "${UID}:${GID}"
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/:/app
